/* buttons styles start */
.primary-btn {
  @apply min-w-36 border lg:border-2 border-primary rounded-lg text-white text-center text-lg px-4 md:px-5 lg:px-6 py-2 md:py-3 hover:bg-primaryLight hover:border-primaryLight  duration-200 flex justify-center items-center gap-2;
}
.secondary-btn {
  @apply min-w-36 border lg:border-2 border-secondary rounded-lg text-white text-center text-lg px-4 md:px-5 lg:px-6 py-2 md:py-3 hover:bg-secondaryLight hover:border-secondaryLight duration-200 flex justify-center items-center gap-2;
}
.outline-btn {
  @apply min-w-36 border lg:border-2 border-secondary rounded-lg text-white text-center text-lg px-4 md:px-5 lg:px-6 py-2 md:py-3 hover:bg-secondary hover:border-secondary duration-200 flex justify-center items-center gap-2;
}
.btn-group {
  @apply flex items-center gap-6;
}
/* buttons styles end */

/* container & section styles start */
.container-box {
  @apply container mx-auto px-3 lg:px-5 xl:px-7;
}
.section-gap {
  @apply py-[60px] lg:py-[80px] xl:py-[100px];
}
.section-gap-dark {
  @apply bg-secondary py-[60px] lg:py-[70px] xl:py-[80px];
}
.section-gap-top {
  @apply pt-[60px] lg:pt-[80px] xl:pt-[100px];
}
.section-gap-bottom {
  @apply pb-[60px] lg:pb-[80px] xl:pb-[100px];
}
/* container & section styles end */

/* utility & other common styles */
.custom-box-shadow {
  box-shadow: 8px 8px 10px var(--primary);
}
.custom-box-shadow-reverse {
  box-shadow: -8px -8px 10px var(--primary);
}

.content-block {
  @apply flex flex-col lg:flex-row justify-center lg:justify-between items-center gap-7 xl:gap-20;
}

.image-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.75;
  /* z-index: 200; */
}
