.input-field {
  @apply bg-white border-none outline-none rounded-lg text-lg p-3 w-full;
}
.input-label {
  @apply block text-base capitalize text-neutral3 font-medium pb-2;
}
select {
  @apply cursor-pointer appearance-none;
}

/* radio button */
.radio-button {
  padding-bottom: 16px;
  span {
    padding-top: 8px;
  }
}

.radio-button > input[type='radio'] {
  display: none;
}

.radio-button > label {
  position: relative;
  color: var(--neutral6);
  width: 100%;
  border-radius: 16rem;
  border: 1px solid var(--secondary);
  outline: none;
  padding: 10px 48px;
  cursor: pointer;

  @media (min-width: 768px) {
    padding: 14px 58px;
  }

  @media (min-width: 768px) {
    padding: 20px 60px;
  }
}

.radio-button > label:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  /* @include desktop {
    width: 30px;
    height: 30px;
    left: 20px;
  } */
}

.radio-button > input[type='radio']:checked + label:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  border-radius: 50%;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  /* @include desktop {
    width: 20px;
    height: 20px;
    left: 25px;
  } */
}
