@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./common.css');
@import url('./cards.css');
@import url('./header.css');
@import url('./reset.css');
@import url('./typography.css');
@import url('./form.css');

:root {
  --primary: theme(colors.primary);
  --primaryLight: theme(colors.primaryLight);
  --secondary: theme(colors.secondary);
  --secondaryLight: theme(colors.secondaryLight);
  --neutral1: theme(colors.neutral1);
  --neutral2: theme(colors.neutral2);
  --neutral3: theme(colors.neutral3);
  --neutral4: theme(colors.neutral4);
  --neutral5: theme(colors.neutral5);
  --neutral6: theme(colors.neutral6);
  --neutral7: theme(colors.neutral7);
  --neutral8: theme(colors.neutral8);
  --slate: theme(colors.slate);
  --gray: theme(colors.gray);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .hidden-on-lg {
    display: flex !important;
  }
}

.primary-btn {
  @apply bg-primary;
}
.secondary-btn {
  @apply bg-secondary;
}
